.menu{
    background-color: white;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.menu > a{          /*pages do menu*/
    color: black;
    background-color: white;
    font-size: 40px;
    margin: 0 10px;
    text-decoration: none;
    font-style: bold, italic;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu > img{
    background-color: white;
    margin-left: 0px;
    margin-right: 250px;
}
