.menu{
    background-color: white;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: auto;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.menu > a{          /*pages do menu*/
    color: white;
    background: black;
    font-size: 40px;
    margin: 0 10px;
    text-decoration: none;
    border: solid black;
    font-style: bold;
}

div.menu img{ /* imgs do menu */
    align=left
    background-color: white;
    margin-left: 10;
    margin-right: 9000;
    text-align: left
  
}
