.menu{
    background-color: white;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto;
}

*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.menu > a{          /*pages do menu*/
    color: white;
    background: black;
    font-size: 40px;
    margin: 0 10px;
    text-decoration: none;
    border: solid black;
    font-style: bold;
    text-align: center;
}

.menu > img{
    background-color: white;
    margin-left: 0px;
    margin-right: 250px;
}
